<section id="attributes">
  <h1><%= @shelter.name %></h1>
  <h3><%= @shelter.city %></h3>
</section>

<section id='statistics'>
  <h3>Shelter Stats:</h3>
  <p>Average pet age: <%= @av_age %> years</p>
</section>
